html, body {
  height: 100%;
}

.Title{
  position: fixed;
  z-index: 10;
  width: 100%;
  background: rgb(0, 0, 0);
  -webkit-box-shadow: 0px -18px 6px 18px rgba(0,0,0,1);
  -moz-box-shadow: 0px -18px 6px 18px rgba(0,0,0,1);
  box-shadow: 0px -18px 6px 18px rgba(0,0,0,1);
}

.TextTitle{
  font-weight: bold;
  padding-top:5px;
  font-size: 20px;
}
.TextInfromation{
  font-size: 12px;
}

#barChart{
  
  width: 100%;
  height: 200px;
}
.graphHolder{
  width:100%;
}
#graph2{
  float:left;
  background: rgb(180, 180, 180);
  width: 60%;
  height: 120px;
}
#pieChart{
  float:left;
  width: 100%;
  height: 120px;
}

#scatterPlot{
  width: 70%;
  height: 400px;
  background:#aaa;
}
#scatterPlotGraph{
  padding-left: 5px;
  padding-right: 5px;
}


#flag{
  top: 75px;
  right: 10px;
  position: absolute;
  width:60px;
  height:40px;
  
}

#PaneHolder{
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ccc;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1;
  width:30%;
  height:  100%;
  -webkit-box-shadow: -2px 1px 6px -1px rgba(0,0,0,1);
  -moz-box-shadow: -2px 1px 6px -1px rgba(0,0,0,1);
  box-shadow: -2px 1px 6px -1px rgba(0,0,0,1);
  
}

#usMap { 
  padding-top: 45px;
	height: 584px;
  width: 70%;
	z-index: 1;
  position: centre;
}


#CountyLabel{
  position: absolute;
  left:0%;
  bottom: 50%;
  text-align: center;
  background: rgb(105, 105, 105);
  width: 120px;
  z-index: 2;
 }




.background {
    fill: none;
    pointer-events: all;
    cursor: zoom-out;
}

#states {
    cursor: zoom-in;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: #aaa;
    stroke: #fff;
    stroke-width: .2px;
    opacity: 0.3;
}

.state:hover{
  fill: rgb(185, 185, 185);
}

.InformationPane{

  position: fixed;
  height: 100%;

}



#StateName{
  font-size: 50px;
}
#CountyName{
  font-size: 70px;
}

 .stateText{
  font-weight: bold;
  font-size: 11px;
 }
 .countyText{
  font-style: italic;
  font-size: 11px;
 }
.plotPoints{
  opacity: 0.5;
}

#cityCircle:hover{
   cursor: pointer;
   stroke-width: 1px;
   stroke:white;  
}

#cityCircles{
  opacity: 0;
}