html, body {
  height: 100%;
}

#usMap { 
	height: 50%;
  width: 50%;
	z-index: 1;
  position: centre;
}

.background {
    fill: none;
    pointer-events: all;
    cursor: zoom-out;
}

#states {
    fill: #ccc;
    cursor: zoom-in;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: #aaa;
    stroke: #fff;
    stroke-width: .5px;
    cursor:  pointer;
}

.county-boundary:hover {
    fill: orange;
}
.state:hover{
  fill: #aaa;
}

.InformationPane{

  position: fixed;
  height: 100%;

}

#PaneHolder{
  background-color: #ccc;
  position: absolute;
  right: 0%;
  z-index: 10;
  width:18%;
  height:  100%;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.48); 
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.3);
  
}

#StateName{
  font-size: 100px;
}
#CountyName{
  font-size: 70px;
}